.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
   font-family: 'Montserrat', sans-serif;;
}
.App .shop-registration{
  justify-content: center;
  align-items: center;
  display: flex;
  flex: 1;
}
.App .shop-list{
  justify-content: center;
  align-items: center;
  display: list-item;
  list-style: none;
  flex: 1.5;
} 
@media screen and (max-width:900px) {
    .App{
      /* width: 100vw; */
    }
    .App .shop-list{
      /* width: min; */
      min-width: 60vw;
    }
    .App .shop-registration{
      min-width: 60vw;
    }
}